@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body{
  background-color: black;
}
/* Main Prencipal */
.hero-container {
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("./assets/nubelson-fernandes-iE71-TMrrkE-unsplash \(1\).jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonMenu-lateral{
  display: none;
}
.menu-lateral {
  display: none;
}

h1.typewriter {
  display: block;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}
nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 700px;
}

li {
  font-size: 21px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
  border: 5px;
  border-radius: 5px;
}
li:hover {
  color: #ffffff;
  text-shadow: 2px 5px 4px rgb(255, 255, 255);
}

a {
  list-style: none;
  text-decoration: none;
}

.arrows {
  width: 60px;
  height: 172px;
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -0.9s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.3s;
}

.arrows path.a3 {
  animation-delay: -0s;
  -webkit-animation-delay: -0.1s;
}
/*=---------------------------------------------- sobre o autor sinops------------------------------- */
.content-container {
  width: auto;
  height: auto;
}
.profile-container {
  color: #ffffff;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-image: url(./assets/akin-cakiner-xKBmqz66gEs-unsplash.jpg);
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-content {
  width: auto;
  height: auto;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background: transparent;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.884);
  border-radius: 15px;
  padding: 30px;
}

.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #ffffffd7;
}
.name-text {
  font-size: 21px;
  margin-top: 15px;
}
.profile-text {
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin: 10px;
}
.profile-button {
  width: 160px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: black;
  margin-top: 15px;
  cursor: pointer;
  font-size: large;
  transition: 0.5s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.profile-button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.divider {
  width: 100%;
  border-top: 0.5px solid #bfbfbf;
  margin: 15px 0;
}

.icons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.icon-item {
  width: 80px;
  height: auto;
}
.profile-sinopse {
  max-width: 430px;
  color: #fff;
  font-size: 1.2rem;
  padding-left: 70px;
}
.icons-container .icon-item {
  cursor: pointer;
}

.Modal {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  color: black;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 100px 1px rgb(255, 255, 255);
  position: fixed;
  z-index: +1;
  top: 30%;
  left: 40%;
}

/*<!-----------------------------------------------------tecnology container------------------------------------------->*/
.tecnology-container {
  color: #ffffff;
  max-width: 100%;
  height: auto;
  display: flex;
  padding: 50px;
  align-items: center;
  background-image: url(./assets/pexels-tima-miroshnichenko-5380594.jpg);
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnology-content {
  width: 90%;
  height: auto;
  font-size: 4rem;
  align-items: center;
  text-align: center;
}
.tecnology-card-container {
  width: 100%;
  height: 100%;
}
.icon-tecnology {
  width: 200px;
  height: 170px;
}
/* =----------------------------------------------------container project--------------------------------------------------*/
.project-container {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img\ de\ projectbg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.project-content {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(1fr, 4);
}
.position-container {
  width: auto;
  height: auto;
  display: flex;
  padding: 15px 0px 15px 0px;
}
.right {
  justify-content: flex-end;
  width: auto;
  height: auto;
}
.left {
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.project-card {
  max-width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: 10px 10px 5px black;
  border-radius: 8px;
}

.card-reverse {
  flex-direction: row-reverse;
}

.project-image {
  max-width: 250px;
  min-height: 140px;
  position: relative;
  border-radius: 8px;
  right: 15px;
  top: 20px;
  transition: 0.9s;
}
.project-image:hover {
  transform: scale(1.09);
}

.image-reverse {
  max-width: 260px;
  max-height: 140px;
  border-radius: 8px;
  left: 35px;
  padding: 10px;
}

.project-text {
  color: #fff;
  margin: 5px;
}

/* ---------------------container footer -------------------------------------*/
.footer-container {
  max-width: 100%;
  height: 400px;
  display: flex;
  background-image: url(./assets/Img-footer.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 95%;
  height: 300px;
  display: flex;
  color: #fff;
  background: url(./assets/Img-footer.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-size: cover;
  border-radius: 10px;
}

.left-container {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  font-size: 18px;
}


.span1 {

  color: #ffffff;
  font-size: 1.5rem;
}

.left-container .content-midia .social-midia {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.left-container .content-midia p {
  color: #fff;
  font-family: "Oswald", sans-serif;
  padding: 20px;
}

.left-container .content-midia .social-midia a {
  align-items: center;
  cursor: pointer;
}

a i {
  color: #fff;
  margin: 5px;
  font-size: 2rem;
  transition: 0.2s;
}
i:hover {
  color: #474646;
}

/*------------------------------------------*/

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  font-size: 13px;
  width: 33.3%;
  height: auto;
  color: rgb(192, 192, 192);
  background: transparent;
  backdrop-filter: blur(15px);
  border-radius: 30px;
}

.info a {
  font-size: 20px;
  color: #9c9b9b;
}

/* ------------------------------------*/

.container-right {
  width: 33.3%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

form.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group-1 {
  margin: 10px;
}
.form-control {
  width:auto;
  font-size: medium;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.form-group-textarea {
  width: auto;
  height: auto;
}
.form-control-textarea {
  padding: 5px;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  font-size: large;
}
button.submit {
  width: 150px;
  padding: 2px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.541);
  color: white;
}

/* ----------------------------------------------MEDIA QUERIE */
@media (max-width: 768px) {  

  header {
    display: none;
  }

  .buttonMenu-lateral {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    z-index: +2;
    cursor: pointer;
    margin: 20px 20px 0px 0px;
  }

  .menu-lateral.ativo {
    right: -1%;
  }

  .menu-lateral{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    z-index:1;
    top: -1%;
    right:-60%;
    background: rgba(0, 0, 0, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.884);
    border-radius: 0px 0px 0px 15px;
    width: 60%;
    height:80%;
    transition: 1s;
    animation-duration: 5s;
    box-shadow: 1px 5px 10px 2px  rgba(255, 255, 255, 0.116);
  }

  .hero-container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #typewriter {
    font-size: 2.5rem;
  }

  .arrows {
    position: absolute;
    bottom: 0;
  }

  .sinops-tecnologias{
    font-size: 2.5rem;
  }
  .tecnology-content{
    width: 100%;
  }
  .icon-tecnology{
    width: 150px;
    height: 140px;
  }
  .projetct-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right{
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .card-reverse{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .left{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.project-text{
  padding-top: 30px;
}
  .profile-container {
    align-items: center;
    justify-content: center;
}


.profile-sinopse {
  display: none;
}
.footer-container{
  align-items: center;
  justify-content: center;
}

.container {
 width: auto;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}
.left-container{ 
  display: none;
}

.center-container {
  display: none;
}
.container-right{
 width: 350px;
 height: 380px;
 justify-content:center;
}

.Modal{
  width: auto;
  height: auto;
  top: 10%;
  left: 0%;
}

}
